*{
  margin: 0;
}


#main-container{
  width: 100%;
  height: 75px;
  /* background-color: pink; */

  display: flex;
  align-items: center;
}

#logo{
  width: 112px;
  margin-left: 25px;
  margin-top: 18px;
}

.items{
  margin-left: 25px;
}

.anchor{
  text-decoration: none;
  font-size: 14px;
  color: black;
}

#search-box{
  width: 330px;
  height: 30px;
  border: 1px solid rgb(216, 216, 216);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#search-box:focus{
  outline: none;
}

#search-symbol{
  height: 32px;
  background-color: white;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 120px;
  color: black;
}

.icons{
  margin-left: 30px;
}

.material-symbols-outlined{
  /* padding-left: 30px; */
}